.container {
    display: flex;
    flex-direction: column;
}

.worker {
    display: block; /* Change display to block */
    margin-bottom: 20px; /* Add margin bottom to create space between workers */
}

.worker img {
    width: 250px; /* Adjust image width as needed */
    height: auto;
    margin-bottom: 10px; /* Add margin bottom to create space between image and text */
}

.worker-info {
    flex-grow: 1;
}

.worker-info h2 {
    margin-top: 0;
}

.worker-info p {
    margin-bottom: 10px;
}
